/node_modules
/vendor
/public/build
.git
.env
.idea
.vscode
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/tests
