/* HeaderGradient.css */

/* Animasi gradient bergerak */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Class untuk div gradient */
.header-gradient {
  animation: gradientMove 20s ease infinite;
  background-size: 400% 400%;
}
